@import url("_base.css");

@font-face {
	font-family: "HK Grotesk";
	src: url(../fonts/hk-grotesk.woff2), url(../fonts/hk-grotesk.woff);
}

body {
	font-family: "HK Grotesk", Helvetica, Arial, sans-serif;
	font-size: 36px;
	line-height: 1.25;
	
	background-color: #ffffff;
	color: #333333;
}

header {
	position: fixed;
	top: 36px;
	left: 36px;
}